<style>
    body {
      background-color: #f8f8f8;
      font-family: Arial, sans-serif;
    }
    form {
      background-color: #fff;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: 400px;
      margin: 50px auto;
    }
    h1 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 30px;
      color: #555;
    }
    label {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
      color: #777;
    }
    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 3px;
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      font-size: 16px;
    }
    input[type="submit"] {
      background-color: #ff5a5e;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 3px;
      font-size: 18px;
      cursor: pointer;
      margin-top: 20px;
      transition: background-color 0.3s ease;
    }
    input[type="submit"]:hover {
      background-color: #ff5a5e;
    }
    .forgot-password {
      display: block;
      text-align: right;
      font-size: 16px;
      margin-top: 10px;
      color: #555;
    }
    .forgot-password a {
      color: #ff5a5e;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    .forgot-password a:hover {
      color: #ff5a5e;
    }
    .register {
      display: block;
      text-align: center;
      font-size: 16px;
      margin-top: 30px;
      color: #555;
    }
    .register a {
      color: #ff5a5e;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    .register a:hover {
      color: #ff5a5e;
    }
  </style>

{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <h2>Reset Password</h2><hr>
    <p>Forgotten your password? Enter your email address below, and we will email instructions for setting a new one.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit">Send email</button>
    </form>
</div> 
{% endblock %}