{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <legend class="border-bottom mb-4">Profile Information: </legend>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">
                    Username: 
                    {{form.instance.username}}
                    <small class="text-muted">
                        Account status: 
                        {{form.instance.status}}
                    </small>
                </h2>
                <p class="text-secondary">Email: {{form.instance.email}}</p>
            </div>
        </div>

        {% if user.username == form.instance.username %}
            <fieldset class="form-group">
                <legend class="border-bottom-mb-4">
                    Edit Profile Information
                </legend>
                <div class="form-group col-md-6 mb-0">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.email|as_crispy_field }}
                </div>
                <a href="home.html">Change Password?</a>
            </fieldset>
            <div class="form-group">
                <button class="'btn btn-outline-info" type="submit">Update</button>
            </div>
            {% endif %}
    </form>
</div>
{% endblock content %}