.navbar {
  background-color: aqua;
}

.nav-container {
  display:flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}

.nav-items {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 2rem;
}