django
django-tinymce
fontawesomefree
django-crispy-forms
crispy-bootstrap5
django-recaptcha
pillow
six
djangorestframework
requests
pandas
seaborn
django-matplotlib
scikit-learn
tensorflow
django-cors-headers