.favorite-button {
    background-color: white;
    color: #ff69b4;
    border: 2px solid #ff69b4;
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
    margin: 10px; 
  }
  
  .favorite-button:hover {
    background-color: #ff69b4;
    color: white;
  }
  
  .favorite-button.favorited {
    background-color: #ff69b4;
    color: white;
  }
  