.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
    margin: 20px 0;
  }
  
  .page-item {
    margin-right: 5px;
  }
  
  .page-link {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #6c757d;
    border: 1px solid #dee2e6;
    text-decoration: none;
  }
  
  .page-link:hover {
    background-color: #e9ecef;
    color: #495057;
  }
  